repositorio/SIMTR_DOC/1-modelagem-negocio/Dossiê Digital/SIPES - PESQUISA CADASTRAL/Pesquisa_Cadastral-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://caixa.gov.br/sibar/pesquisa_cadastral" xmlns:pesquisacadastral="http://caixa.gov.br/sibar/pesquisa_cadastral" xmlns:sibar_base="http://caixa.gov.br/sibar">
    <xsd:import namespace="http://caixa.gov.br/sibar" schemaLocation="../MensagensBarramento.xsd"/>
    <xsd:complexType name="servico_entrada_type">
    <xsd:complexContent>
      <xsd:extension base="sibar_base:SERVICO_ENTRADA_TYPE">
                <xsd:sequence>
          <xsd:element name="DADOS" type="pesquisacadastral:dados_entrada_type"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="servico_saida_type">
    <xsd:complexContent>
      <xsd:extension base="sibar_base:SERVICO_SAIDA_TYPE">
                <xsd:sequence>
          <xsd:element minOccurs="0" name="DADOS" type="pesquisacadastral:dados_saida_type"/>
        </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="dados_entrada_type">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="CONTROLE" type="pesquisacadastral:controle_type"/>
            <xsd:element default="0" name="TP_PESSOA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0" name="CPF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999999999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0" name="CNPJ">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999999999999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="FLAG_SERASA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="FLAG_CADIN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="FLAG_SINAD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="FLAG_CCF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="FLAG_SPC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="FLAG_SICOW">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="dados_saida_type">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="CONTROLE" type="pesquisacadastral:controle_type"/>
            <xsd:element default="0" minOccurs="0" name="TP_PESSOA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0" name="CPF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999999999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0" name="CNPJ">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999999999999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="NOME">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="70"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="SINAD" type="pesquisacadastral:sinad_type"/>
      <xsd:element minOccurs="0" name="CADIN" type="pesquisacadastral:cadin_type"/>
      <xsd:element minOccurs="0" name="SERASA" type="pesquisacadastral:serasa_type"/>
      <xsd:element minOccurs="0" name="SICCF" type="pesquisacadastral:siccf_type"/>
      <xsd:element minOccurs="0" name="SPC" type="pesquisacadastral:spc_type"/>
      <xsd:element minOccurs="0" name="SICOW" type="pesquisacadastral:sicow_type"/>
            <xsd:element default=" " minOccurs="0" name="EXCECAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sinad_type">
    <xsd:sequence>
      <xsd:element default="0" name="COD_RETORNO" type="pesquisacadastral:cod_retorno">
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="MSG_RETORNO" type="pesquisacadastral:msg_retorno">
      </xsd:element>
      <xsd:element maxOccurs="130" minOccurs="0" name="DADOS_RESUMO" type="pesquisacadastral:sinad_dados_resumo_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="RETORNO_OCORRENCIAS_SIINA" type="pesquisacadastral:sinad_retorno_ocorrencias_siina_type"/>
            <xsd:element name="RETORNO_OCORRENCIAS_SINAD" type="pesquisacadastral:sinad_retorno_ocorrencias_sinad_type"/>
        </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="cadin_type">
    <xsd:sequence>
      <xsd:element default=" " name="COD_RETORNO" type="pesquisacadastral:cod_retorno">
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="MSG_RETORNO" type="pesquisacadastral:msg_retorno">
      </xsd:element>
      <xsd:element maxOccurs="130" minOccurs="0" name="DADOS_RESUMO" type="pesquisacadastral:cadin_dados_resumo_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="DADOS_GERAIS" type="pesquisacadastral:cadin_dados_gerais_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="RETORNO_OCORRENCIAS" type="pesquisacadastral:cadin_retorno_ocorrencias_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_type">
    <xsd:sequence>
      <xsd:element default=" " name="COD_RETORNO" type="pesquisacadastral:cod_retorno">
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="MSG_RETORNO" type="pesquisacadastral:msg_retorno">
      </xsd:element>
      <xsd:element maxOccurs="130" minOccurs="0" name="DADOS_RESUMO" type="pesquisacadastral:serasa_dados_resumo_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="PENDENCIAS_FINANCEIRAS" type="pesquisacadastral:serasa_pendencias_financeiras_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="CHEQUES_SEM_FUNDO" type="pesquisacadastral:serasa_cheques_sem_fundo_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="PROTESTO" type="pesquisacadastral:serasa_protesto_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="ACAO_JUDICIAL" type="pesquisacadastral:serasa_acao_judicial_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="PARTICIPACAO_CONCORDATA" type="pesquisacadastral:serasa_participacao_concordata_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="FALENCIA_CONCORDATA" type="pesquisacadastral:serasa_falencia_concordata_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="CONVENIOS_DEVEDORES" type="pesquisacadastral:serasa_convenios_devedores_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="siccf_type">
    <xsd:sequence>
      <xsd:element default=" " name="COD_RETORNO" type="pesquisacadastral:cod_retorno">
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="MSG_RETORNO" type="pesquisacadastral:msg_retorno">
      </xsd:element>
      <xsd:element maxOccurs="130" minOccurs="0" name="DADOS_RESUMO" type="pesquisacadastral:siccf_dados_resumo_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="RETORNO_OCORRENCIAS" type="pesquisacadastral:siccf_retorno_ocorrencias_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="spc_type">
    <xsd:sequence>
      <xsd:element default=" " name="COD_RETORNO" type="pesquisacadastral:cod_retorno">
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="MSG_RETORNO" type="pesquisacadastral:msg_retorno">
      </xsd:element>
      <xsd:element maxOccurs="130" minOccurs="0" name="DADOS_RESUMO" type="pesquisacadastral:spc_dados_resumo_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="RETORNO_OCORRENCIAS" type="pesquisacadastral:spc_retorno_ocorrencias_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_type">
    <xsd:sequence>
      <xsd:element default=" " name="COD_RETORNO" type="pesquisacadastral:cod_retorno">
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="MSG_RETORNO" type="pesquisacadastral:msg_retorno">
      </xsd:element>
      <xsd:element maxOccurs="130" minOccurs="0" name="CONRES" type="pesquisacadastral:sicow_conres_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="PPE_PRIMARIO" type="pesquisacadastral:sicow_ppe_primario_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="PPE_RELACIONADOS" type="pesquisacadastral:sicow_ppe_relacionados_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="EMPREGADORES_TRABALHO_ESCRAVO" type="pesquisacadastral:sicow_empresas_trabalho_escravo_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="PROIBIDO_CONTRATAR_SETOR_PUBLICO" type="pesquisacadastral:sicow_proibido_contratar_setor_publico_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="INTERDICAO_JUDICIAL" type="pesquisacadastral:sicow_interdicao_judicial_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="INFORMACOES_SEGURANCA" type="pesquisacadastral:sicow_informacoes_seguranca_type"/>
      <xsd:element maxOccurs="130" minOccurs="0" name="PLD" type="pesquisacadastral:sicow_pld_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sinad_dados_resumo_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="TP_ANOTACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_PRIMEIRA_OCORRENCIA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element name="DATA_ULTIMA_OCORRENCIA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default="0" name="QTD_OCORRENCIAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sinad_retorno_ocorrencias_siina_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="FILIAL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="TP_CLIENTE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CONTRATO" type="pesquisacadastral:sinad_retorno_ocorrencias_contrato_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sinad_retorno_ocorrencias_sinad_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo"/>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo"/>
      <xsd:element name="SEQUENCIA" type="pesquisacadastral:sequencia"/>
      <xsd:element name="SISTEMA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PRODUTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="UNIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CONTRATO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PARCELA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_INADIMPLENCIA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VALOR_DIVIDA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999999.99"/>
            <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IDENTIFICADOR_DEVEDOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="cadin_dados_resumo_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="TP_ANOTACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_PRIMEIRA_OCORRENCIA" type="pesquisacadastral:data_string">
            </xsd:element>
      <xsd:element name="DATA_ULTIMA_OCORRENCIA" type="pesquisacadastral:data_string">
            </xsd:element>
      <xsd:element default="0" name="QTD_OCORRENCIAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="cadin_dados_gerais_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default="0" name="QTD_CONTRATOS_ATRASO_ATE_30">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="QTD_CONTRATOS_ATRASO_POS_30">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="cadin_retorno_ocorrencias_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="CREDOR" type="pesquisacadastral:serasa_dados_resumo_credor_type"/>
      <xsd:element name="DATA_HORA_LANCTO_INADIMPLENCIA">
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_dados_resumo_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="TP_ANOTACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_PRIMEIRA_OCORRENCIA" type="pesquisacadastral:data_string">
            </xsd:element>
      <xsd:element name="DATA_ULTIMA_OCORRENCIA" nillable="false" type="pesquisacadastral:data_string">
            </xsd:element>
      <xsd:element default="0" name="QTD_OCORRENCIAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="QTD_OCORRENCIAS_APRESENTADAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_pendencias_financeiras_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="PENDENCIA" type="pesquisacadastral:serasa_pendencias_financeiras_pendencia_type"/>
      <xsd:element default=" " name="TP_FINANCIAMENTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="FLAG_AVALISTA_OPERACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="VR_FINANCIAMENTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999999.99"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CONTRATO" type="pesquisacadastral:serasa_pendencias_financeiras_contrato_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_cheques_sem_fundo_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="DATA_APRESENTACAO_CHEQUE" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="IDENTIFICACAO_CHEQUE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ALINEAS_RESTRITIVAS">
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
            </xsd:element>
      <xsd:element default="0" name="QTD_CHEQUES">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="VR_TOTAL_CHEQUES">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999999.99"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BANCO" type="pesquisacadastral:serasa_cheques_sem_fundo_banco_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_protesto_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo"/>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo"/>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="DATA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default="0" name="VALOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999999.99"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CARTORIO" type="pesquisacadastral:serasa_protesto_cartorio_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_acao_judicial_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="DATA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="NATUREZA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="FLAG_AVALISTA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="VALOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999999.99"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="CODIGO_DISTRIBUIDOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="CODIGO_VARA_CIVIL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="CIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="UF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_participacao_concordata_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="DATA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="NATUREZA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DEVEDOR" type="pesquisacadastral:serasa_participacao_conordata_devedor_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_falencia_concordata_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="DATA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="TP_FALENCIA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="VARA_CIVIL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="CIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="UF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_convenios_devedores_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="DATA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="TP_FINANCIAMENTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="VR_CONVENIO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999999.99"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="LOCALIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="UF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="NOME_INSTITUICAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="CODIGO_CONTRATO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="CNPJ_CREDOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="siccf_dados_resumo_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="TP_ANOTACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_PRIMEIRA_OCORRENCIA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element name="DATA_ULTIMA_OCORRENCIA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default="0" name="QTD_OCORRENCIAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="siccf_retorno_ocorrencias_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default="0" name="BANCO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="AGENCIA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="TP_CONTA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="ALINEA_DEVOLUCAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="QTD_OCORRENCIAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="NOME">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="63"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="spc_dados_resumo_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="TP_ANOTACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_PRIMEIRA_OCORRENCIA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element name="DATA_ULTIMA_OCORRENCIA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element name="QTD_OCORRENCIAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="spc_retorno_ocorrencias_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="DATA_INADIMPLENCIA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="TP_DEVEDOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="NOME_CREDOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="VR_DIVIDA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="15"/>
            <xsd:fractionDigits value="2"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999999.99"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="PRACA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="UF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="CONTRATO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_DISPONIVEL" type="pesquisacadastral:data_string">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_conres_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default="0" name="MOTIVO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="DESCRICAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="42"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_INICIO" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element name="DATA_FIM" type="pesquisacadastral:data_string">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_ppe_primario_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="TP_PPE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="CARGO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="ORGAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="31"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_NOMEACAO" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element name="DATA_EXONERACAO" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element minOccurs="0" name="PPE_RELACIONADO" type="pesquisacadastral:sicow_ppe_primario_dados_relacionado_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_ppe_relacionados_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="TP_PPE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PPE_PRIMARIO" type="pesquisacadastral:sicow_ppe_relacionado_dados_primario_type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_empresas_trabalho_escravo_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="UF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="ESTABELECIMENTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="QTD_TRABALHADORES_LIBERTADOS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MES_ANO_INCLUSAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_proibido_contratar_setor_publico_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="ORGAO_ORIGEM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="PROCESSO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_INICIO" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="VALIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_interdicao_judicial_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="ORGAO_ORIGEM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="PROCESSO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_INICIO" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="VALIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_informacoes_seguranca_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element default="0" name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element name="DATA_REGISTRO" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default="0" name="RESTRICAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="ACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_pld_type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TIPO" type="pesquisacadastral:tipo">
      </xsd:element>
      <xsd:element minOccurs="0" name="SUBTIPO" type="pesquisacadastral:subtipo">
      </xsd:element>
      <xsd:element name="SEQUENCIA" type="pesquisacadastral:sequencia">
      </xsd:element>
      <xsd:element default=" " name="MENSAGEM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="90"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sinad_retorno_ocorrencias_contrato_type">
    <xsd:sequence>
      <xsd:element default="0" name="AGENCIA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="SISTEMA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="OPERACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="NUMERO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999999999999999999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="SITUACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_INADIMPLENCIA" type="pesquisacadastral:data_string">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_dados_resumo_credor_type">
    <xsd:sequence>
      <xsd:element default=" " name="NOME">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="SIGLA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_pendencias_financeiras_pendencia_type">
    <xsd:sequence>
      <xsd:element name="DATA" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element default=" " name="INDICADOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_pendencias_financeiras_contrato_type">
    <xsd:sequence>
      <xsd:element default=" " name="NUMERO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="NOME_INSTITUICAO_FINANCEIRA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="SIGLA_CIDADE_INSTITUICAO_FINANCEIRA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_cheques_sem_fundo_banco_type">
    <xsd:sequence>
      <xsd:element default="0" name="CODIGO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="AGENCIA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="CIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="UF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_protesto_cartorio_type">
    <xsd:sequence>
      <xsd:element default="0" name="CODIGO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="CIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="UF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="serasa_participacao_conordata_devedor_type">
    <xsd:sequence>
            <xsd:choice>
        <xsd:element default="0" name="CPF">
          <xsd:simpleType>
            <xsd:restriction base="xsd:long">
              <xsd:minInclusive value="0"/>
              <xsd:maxInclusive value="99999999999"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element default="0" name="CNPJ">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      </xsd:choice>
      <xsd:element default=" " name="NOME">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_ppe_primario_dados_relacionado_type">
    <xsd:sequence>
      <xsd:element default="0" name="TP_PESSOA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0" name="CPF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0" name="CNPJ">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="NOME">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="TP_VINCULO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="sicow_ppe_relacionado_dados_primario_type">
    <xsd:sequence>
      <xsd:element default="0" name="TP_PESSOA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0" name="CPF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0" name="CNPJ">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="NOME">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="CARGO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="ORGAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="31"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DATA_NOMEACAO" type="pesquisacadastral:data_string">
      </xsd:element>
      <xsd:element name="DATA_EXONERACAO" type="pesquisacadastral:data_string">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:element name="SERVICO_ENTRADA" type="pesquisacadastral:servico_entrada_type">
  </xsd:element>
    <xsd:element name="SERVICO_SAIDA" type="pesquisacadastral:servico_saida_type">
  </xsd:element>
    <xsd:complexType name="controle_type">
    <xsd:sequence>
      <xsd:element default="N" name="FLAG_NOVA_CONSULTA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="PROXIMA_PAGINA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
            <xsd:element default=" " name="NOME_CICS_TS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
            <xsd:element default="0" name="QTD_REGISTROS_RETORNADA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:simpleType name="tipo">
    <xsd:restriction base="xsd:short">
      <xsd:totalDigits value="1"/>
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="subtipo">
    <xsd:restriction base="xsd:short">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="99"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="sequencia">
    <xsd:restriction base="xsd:short">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="cod_retorno">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="msg_retorno">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="134"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="data_string">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
        </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>